@font-face {
  font-family: "pixelArial";
  src: url("PixelArial.woff2") format("woff2"),
    url("PixelArial.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  position: fixed;
  color: black;
  bottom: 1px;
  right: 7px;
  font-size: 8px;
  weight: normal;
  font-family: pixelArial;
  user-select: none;
}

#container {
  position: fixed;
  bottom: 10px;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

p {
  color: black;
  margin: 0px;
  padding: 0px;
  font-family: pixelArial;
  font-size: 8px;
  pointer-events: none;
}

.allData {
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
button {
  margin-left: 5px;
  padding: 3px 2px 3px 5px;
  font-size: 8px;
  font-family: pixelArial;
  z-index: 10;
  border: 1px solid black;
  background-color: white;
  pointer-events: all;
  cursor: pointer;
}

button:hover {
  background-color: rgb(242, 242, 242);
}

canvas {
  cursor: pointer;
}