html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 2em;
  background: white;
  user-select: none;
  color: black;
  font-family: sans-serif;
}

#root {
  display: grid;
  gap: 1em;
  align-content: flex-start;
  justify-items: flex-start;
  min-height: 100%;
}
