html,
body {
  height: 100%;
}

h1 {
  display: inline-block;
}

body {
  margin: 0;
  padding: 2em;
  background: white;
  user-select: none;
  color: black;
  font-family: sans-serif;
}

#root {
  min-height: 100%;
}

header {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: grid;
  gap: 2em;
  grid-template-columns: max-content max-content;
}

section {
  display: grid;
  gap: 1em;
}

.block {
  display: grid;
  gap: 1em;
  background: #eee;
  padding: 1em;
  justify-items: flex-start;
}

#error {
  color: red;
  display: none;
}

.visible {
  display: block !important;
}

aside .block {
  background: #fafafa;
  color: #555;
}
