@font-face {
  font-family: 'pixelArial';
  src: url('./static/PixelArial.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  touch-action: pan-x, pan-y;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  user-select: none;
  color: black;
  font-family: 'pixelArial', sans-serif;
  font-size: 8px;
  line-height: 1.4;
  text-shadow:
  -1px -1px 0 rgb(255, 255, 255),
   0   -1px 0 rgb(255, 255, 255),
   1px -1px 0 rgb(255, 255, 255),
   1px  0   0 rgb(255, 255, 255),
   1px  1px 0 rgb(255, 255, 255),
   0    1px 0 rgb(255, 255, 255),
  -1px  1px 0 rgb(255, 255, 255),
  -1px  0   0 rgb(255, 255, 255);
}

#text-container {
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
  text-align: center;
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  gap: 10px;
  flex-wrap: wrap;

}

#loading {
  position: fixed;
  bottom: 14px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#buttons {
  display: flex;
  gap: 5px;
  align-items: center;
}

button {
  padding: 3px 2px 3px 5px;
  font-size: inherit;
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid black;
  background-color: white;
  pointer-events: all;
  color: inherit;
  cursor: pointer;
  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

canvas {
  display: block;
  cursor: pointer;
  background: white;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
